h3 {
  font-weight: 700;
  font-size: 2rem;
  letter-spacing: 1px;
  padding: 2rem 0 1.5rem 0;
  margin: 0;
  text-transform: capitalize;
}

h5 {
  font-weight: 500;
  font-size: 130%;
  text-align: justify;
  letter-spacing: 0;
  padding: 0;
  line-height: 125%;
  margin: 0;
}

.backdrop {
  z-index: 5;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
  background: #131212e1;
  display: flex;
  justify-content: center;
}

.info-modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);

  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(10deg, #ffd166, #de8342);
}

.info-modal-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.close-button {
  position: relative;
  bottom: 1.5rem;
  padding: 0 3rem;
  min-height: 3rem;
  margin: auto auto 0 auto;
  background: #101315;
  color: #eee;
  width: auto;
  height: 3rem;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 600;
  font-size: 1.25rem;
  letter-spacing: 1.25px;
}
